{% extends "_base.html" %}

{% block main %}
  <div id="search" class="search">
    <form id="search-form" action="/" method="POST">
      <input type="text" name="zipcode" value="Zipcode" />
      <input type="text" name="date" value="MM/DD/YYYY" />
      <input type="text" name="capacity" value="10" />
      <button type="submit" name="search">Search</button>
    </form>
  </div>
  <ul class="results">
  {% for room in availableRooms %}
  <li id="room_{{ room.id }}" class="item clearfix">
    <div class="polaroid">
      <div class="cutout" style="background: url(/static/images/room_1.jpg) 50% 50% no-repeat;">
        <!--<img class="picture" src="/static/images/room_1.jpg" />-->
      </div>
    </div>
    <div class="info">
      <a class="name" href="/rooms/{{ room.id }}/">{{ room.name }}</a>
      <div class="address">632 Broadway, 10th Floor, New York, NY 10028</div>
    </div>
  </li>
  {% endfor %}
  </ul>
{% endblock main %}
