{% extends "_base.html" %}

{% block main %}
  <div id="search" class="search">
    <form id="search-form" action="/" method="POST">{% csrf_token %}
      <input type="text" name="zipcode" value="Zipcode" />
      <input type="text" name="date" value="MM/DD/YYYY" />
      <input type="text" name="capacity" value="10" />
      <button type="submit" name="search">Search</button>
    </form>
  </div>
  <ul class="results">
  {% for room in availableRooms %}
  <li id="room_{{ room.id }}" class="item clearfix">
    <div class="polaroid">
      <div class="cutout" style="background: #E1E1E1 url({{ room.icon }}) 50% 50% no-repeat;">
        <!--<img class="picture" src="/static/images/room_1.jpg" />-->
      </div>
    </div>
    <div class="info">
      <a class="name" href="/rooms/{{ room.id }}/">{{ room.name }}</a>
      <div class="address">
        <div class="address1">{{ room.address }}</div>
        <div class="address2">{{ room.city }}, {{ room.state }} {{ room.zip }}</div>
      </div>
      <div class="description">
        {{ room.description }}
      </div>
    </div>
    <div class="price {% if room.price != 0 %}has-price{% endif %}">
      {% if room.price == 0 %}
        FREE
      {% else %}
        {{ room.price }}
      {% endif %}
    </div>
    <div class="capacity">{{ room.capacity }}</div>
  </li>
  {% endfor %}
  </ul>
{% endblock main %}
