@mixin shadow($hOffset, $vOffset, $blurRadius, $color, $inset:'') {
  @if $inset != '' {
    -moz-box-shadow: $inset $hOffset $vOffset $blurRadius $color;
    -webkit-box-shadow: $inset $hOffset $vOffset $blurRadius $color;
    box-shadow: $inset $hOffset $vOffset $blurRadius $color;
  }
  @if $inset == '' {
    -moz-box-shadow: $hOffset $vOffset $blurRadius $color;
    -webkit-box-shadow: $hOffset $vOffset $blurRadius $color;
    box-shadow: $hOffset $vOffset $blurRadius $color;
  }
}
@mixin round($nw, $ne: $nw, $se: $nw, $sw: $nw) {
  -moz-border-radius: $nw $ne $se $sw;                                  
  -webkit-border-radius: $nw $ne $se $sw;
  border-radius: $nw $nw $se $sw;
}

/* Sticky Footer { */
html, body {
  height: 100%;
  font-family: Gill, Helvetica, arial, verdana, sans-serif; }

#wrap {
  min-height: 100%;
  display: table;
  height: 100%;
  width: 700px;
  margin: 0 auto; }

#main {
  overflow:auto;
	padding-bottom: 150px; }  /* must be same height as the footer */

#footer {
  position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both; } 
/* } Sticky Footer */

/* Clearfix { */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/* } Clearfix */

.displaynone {
  display: none;
}
a, a:visited, a:active {
  color: #4D90FE;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.body {
  background-color: #e1e1e1;
  font-size: 13px;
}
.hd {
  padding: 24px 0 16px 0;
}
.ft {
  background: url(/static/images/fabric.png);
  @include shadow(0, 0, 10px, #000000, inset);
}
.logo {
  font-size: 48px;
  color: #666;
  text-transform: uppercase;
  a, a:active, a:visited, a:hover {
    color: #666;
    text-decoration: none;
  }
}
.search {
  padding: 10px;
  background-color: #666;
  @include round(2px, 2px, 0, 0);
}
.results {
  width: 700px;
  margin-bottom: 48px;
}
.item {
  /*float: left;*/
  padding: 10px 20px 10px 10px;
  width: 670px;
  background-color: #F5F5F5;
  border-bottom: 1px dotted #e1e1e1;
  &:hover {
    background-color: #fff;
  }
  &:last-child {
    border-bottom: 0;
  }
  .info {
    line-height: 1.2em;
    float: left;
    margin-left: 12px;
    .name {
      display: block;
      line-height: 1em;
      width: 300px;
      font-size: 1.6em;
      padding-bottom: 3px;
    }
    .address {
      color: #888;
      padding: 0 0 3px;
    }
    .description {
      color: #888;
      width: 300px;
    }
  }
  .capacity {
    float: right;
    background: url(/static/images/capacity.png) 100% 50% no-repeat;
    margin: 24px 0 0 12px;
    padding-right: 36px;
    font-size: 2.4em;
    color: #666;
    text-shadow: rgba(0,0,0,0.5) -1px 0;
  }
  .price {
    width: 100px;
    text-align: right;
    float: right;
    margin: 24px 0 0 12px;
    font-size: 2.4em;
    color: #45b101;
    text-shadow: #388f01 -1px 0;
  }
  .has-price {
    width: 62px;
    color: #666;
    text-shadow: rgba(0,0,0,0.5) -1px 0;
    padding-right: 38px;
    background: url(/static/images/price.png) 100% 50% no-repeat;
  }
}
.polaroid {
  float: left;
  padding: 6px 6px 16px;
  width: 82px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  .cutout {
    width: 80px;
    height: 60px;
    overflow: hidden;
    background-size: contain;
    border: 1px solid #e1e1e1;
  }
}
.alert {
  color: red;
  width: 680px;
  font-size: 1.6em;
  padding: 10px;
  text-align: center;
  border: 1px solid #DDDDDD;
  background-color: #F5F5F5;
  @include round(2px);
  margin-bottom: 24px;
}
.posted {
  color: green;
}
.room {
  .rhd {
    padding: 10px;
    background-color: #666;
    @include round(2px, 2px, 0, 0);
    font-size: 1.6em;
    color: #F5F5F5;
  }
  .hud {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #888;
  }
  .rinfo {
    margin-bottom: 48px;
    padding: 10px;
    background-color: #F5F5F5;
    .descr-long {
      width: 340px;
    }
  }
}
