@mixin shadow($hOffset, $vOffset, $blurRadius, $color, $inset:'') {
  -moz-box-shadow: $inset $hOffset $vOffset $blurRadius $color;
  -webkit-box-shadow: $inset $hOffset $vOffset $blurRadius $color;
  box-shadow: $inset $hOffset $vOffset $blurRadius $color;
}

/* Sticky Footer { */
html, body {
  height: 100%;
  font-family: Gill, Helvetica, arial, verdana, sans-serif; }

#wrap {
  min-height: 100%;
  display: table;
  height: 100%;
  width: 960px;
  margin: 0 auto; }

#main {
  overflow:auto;
	padding-bottom: 150px; }  /* must be same height as the footer */

#footer {
  position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both; } 
/* } Sticky Footer */

.ft {
  background: url(/static/images/fabric.png);
  @include shadow(0, 0, 10px, #000000, inset);
}

.logo {
  font-size: 54px;
  color: #666;
  text-transform: uppercase;
}
