<!DOCTYPE html>
<html lang="en">
<head>
  {% block css %}
  <link rel="stylesheet" href="/static/style/reset.css" />
  <link rel="stylesheet" href="/static/style/style.css" />
  {% endblock css %}
  {% block js %}
  <script src="/static/script/jquery-1.6.4.js" type="text/javascript"></script>
  <script src="/static/script/script.js" type="text/javascript"></script>
  {% endblock js %}
  <title>{% block title %}Stora{% endblock title %}</title>
</head>

<body class="body">
<div id="wrap">
	<div id="header" class="hd">
    {% block header %}
    <div class="logo">Stora</div>
    {% endblock header %}
	</div>
	<div id="main">
    <ul class="results">
    {% for room in availableRooms %}
    <li id="room_{{ room.id }}" class="item clearfix">
      <div class="polaroid">
        <div class="cutout" style="background: url(/static/images/room_1.jpg) 50% 50% no-repeat;">
          <!--<img class="picture" src="/static/images/room_1.jpg" />-->
        </div>
      </div>
      <div class="info">
        <a class="name" href="/rooms/{{ room.id }}/">{{ room.name }}</a>
        <div class="address">632 Broadway, 10th Floor, New York, NY 10028</div>
      </div>
    </li>
    {% endfor %}
    </ul>
    <div id="hud" class="sidebar"></div>
	</div>
</div>
<div id="footer" class="ft">
  {% block footer %}
  <p>Hey! I'm the footer!</p>
  {% endblock footer %}
</div>
</body>
</html>
